<% if !@songs.empty? %>
  <table class="pretty table">
    <tr>
      <th><p>Artist</p></th>
      <th><p>Title</p></th>
      <th><p>Source</p></th>
      <th><p>Release Year</p></th>
      <th><p>Search YouTube</p></th>
    </tr>
    <% for song in @songs %>
      <tr>
        <td><%= song.artist%></td>
        <td><%= song.title%></td>
        <td><%= song.source%></td>
        <td><%= song.release_year%></td>
        <td>
          <a href="<%= 'https://www.youtube.com/results?search_query=' + CGI.escape(song.artist.split(',')[0]) + '+' + CGI.escape(song.title) %>" target="_blank" title="Search for song on YouTube" >
            <%= image_tag "youtube-icon.png", :class => "youtube-img" %>
          </a>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>