<%= hidden_field_tag :direction, params[:direction] %> 
<%= hidden_field_tag :sort, params[:sort] %> 
<table class="pretty table">
  <tr>
    <th><%= sortable "Number", "ballad_id" %></th>
    <th><%= sortable "Artist", "artist" %></th>
    <th><%= sortable "Title", "title" %></th>
    <th><%= sortable "Source", "source" %></th>
    <th><%= sortable "Release Year", "release_year" %></th>
    <th><%= sortable "Length", "length" %></th>
    <th><p>Search YouTube</p></th>
  </tr>
  <% for song in @songs %>
    <tr>
      <td><%= song.ballad_id%></td>
      <td><%= song.artist%></td>
      <td><%= song.title%></td>
      <td><%= song.source%></td>
      <td><%= song.release_year%></td>
      <% if song.length.to_s.length >= 2 %>
        <td><%= song.length.to_s.insert(-3, ':')%></td>
      <% else %>
        <td><%= song.length%></td>
      <% end %>
      <td>
        <a href="<%= 'https://www.youtube.com/results?search_query=' + CGI.escape(song.artist.split(',')[0]) + '+' + CGI.escape(song.title) %>" target="_blank" title="Search for song on YouTube" >
          <%= image_tag "youtube-icon.png", :class => "youtube-img" %>
        </a>
      </td>
    </tr>
  <% end %>
</table>
<%= will_paginate @songs %>