<div class="slight-padding">

  <h1>All Songs</h1>

  <div class="div-line"></div>

  <div class="table-responsive frontend">

  <%= form_tag all_path, :method => "get", :id => "songs_search" do %>
    <p>
      <%= select_tag :ballad_id, options_for_select(@ballads.collect{ |b| [b.number.to_s + ' - ' + b.name, b.number] }, params[:ballad_id]), :prompt => "All Ballads", :class => "all-filter form-control" %>
    </p>
    <p>
      <%= text_field_tag :search, params[:search], :class => "all-search form-control", :placeholder => "Search" %>
    </p>
    
    <div id="songs"><%= render 'songs' %></div>

  <% end %>

  </div>

</div>