<div class="slight-padding">

  <h1>Child Ballads</h1>

  <div class="div-line"></div>

  <div class="ballads scroll">
    <div class="b-number">
      <% @ballads.each do |ballad| %>
        <p>
        <%= ballad.number %>.
        </p>
      <% end %>
    </div>
    <div class="b-name">
      <% @ballads.each do |ballad| %>
        <p>
        <%= link_to ballad.name, child_ballads_path(ballad_id: ballad.number), :class => "ballad-link" %>
        </p>
      <% end %>
    </div>
  </div>

  <div class="ballad-songs">
    <%= render 'ballad_songs' %>
  </div>

  <div style="clear:both;"></div>

</div>