  <div class="intro-text centered">
    <h1>History</h1>

    <div class="div-line"></div>

    <B>Update #63, February 22, 2022</B><br>
    Added 1379 new recordings to the CBDB.
    <br>
    <br>
    <B>Update #62, July 9, 2016</B><br>
    Added & updated 1154 sources and ballads to the CBDB.
    <br>
    <br>
    <B>Update #61, January 23, 2015</B><br>
    Added & updated 437 sources and ballads to the CBDB.
    <br>
    <br>
    <B>Update #60, July 7, 2014</B><br>
    Added & updated 583 sources and ballads to the CBDB.
    <br>
    <br>
    <B>Update #59, December 26, 2013</B><br>
    Added & updated 169 sources and ballads to the CBDB.
    <br>
    <br>
    <B>Update #58, October 16, 2013</B><br>
    Added & updated 313 sources and ballads to the CBDB.
    <br>
    <br>
    <B>Update #57, July 20, 2013</B><br>
    Added & updated 267 sources and ballads to the CBDB.
    <br>
    <br>
    <B>Update #56, January 1, 2013</B><br>
    Added & updated 175 sources and ballads to the CBDB.
    <br>
    <br>
    <B>Update #55, September 26, 2012</B><br>
    Added & updated 531 sources and ballads to the CBDB.
    <br>
    <br>
    <B>Update #54, July 14, 2012</B><br>
    Added & updated 198 sources and ballads to the CBDB.
    <br>
    <br>
    <B>Update #53, April 9, 2012</B><br>
    Added & updated 413 sources and ballads to the CBDB.
    <br>
    <br>
    <B>Update #52, August 8, 2011</B><br>
    Added & updated 456 sources and ballads to the CBDB.
    <br>
    <br>
    <B>Update #51, May 11, 2011</B><br>
    Added & updated 245 sources and ballads to the CBDB.
    <br>
    <br>
    <B>Update #50, January 23, 2011</B><br>
    Added & updated 318 sources and ballads to the CBDB.
    <br>
    <br>
    <B>Update #49, January 5, 2011</B><br>
    Major update: added & updated 578 sources and ballads to the CBDB. <br>
    Genereal overview of all data, filled various incompletions & corrected some spelling and data errors.<br>
    Comments & additions welcome!
    <br>
    <br>
    <B>Update #48, July 21, 2010</B><br>
    Added & updated 136 sources and ballads to the CBDB.
    <br>
    <br>
    <B>Update #47, May 1, 2010</B><br>
    Added & updated 395 sources and ballads to the CBDB.
    <br>
    <br>
    <B>Update #46, December 31, 2009</B><br>
    Added & updated 459 sources and ballads to the CBDB.
    <br>
    <br>
    <B>Update #45, October 11, 2009</B><br>
    Added & updated 251 sources and ballads to the CBDB.
    <br>
    <br>
    <B>Update #44, May 31, 2009</B><br>
    Added & updated 252 sources and ballads to the CBDB.
    <br>
    <br>
    <B>Update #43, May 24, 2009</B><br>
    Added Links page.
    <br>
    <br>
    <B>Update #42, April 13, 2009</B><br>
    Added & updated 103 sources and ballads to the CBDB. <br>
    The (standalone) CBDB no longer directly downloadable. Small textual changes.
    <br>
    <br>
    <B>Update #41, February 28, 2009</B><br>
    Added & updated 230 sources and ballads to the CBDB.
    <br>
    <br>
    <B>Update #40, January 21, 2009</B><br>
    Added & updated 15 sources and ballads to the CBDB.
    <br>
    <br>
    <B>Update #39, January 7, 2009</B><br>
    Added & updated 78 sources and ballads to the CBDB.
    <br>
    <br>
    <B>Update #38, December 20, 2008</B><br>
    Added & updated 243 sources and ballads to the CBDB.
    <br>
    <br>
    <B>Update #37, September 6, 2008</B><br>
    Added & updated 125 sources and ballads to the CBDB.
    <br>
    <br>
    <B>Update #36, June 28, 2008</B><br>
    Added & updated 165 sources and ballads to the CBDB. Thank you all for comments & additions!
    <br>
    <br>
    <B>Update #35, January 5, 2008</B><br>
    Added & updated 383 sources and ballads to the CBDB. The CBDB holds now over 13.000 recorded Child Ballads!
    <br>
    <br>
    <B>Update #34, December 5, 2007</B><br>
    Added & updated 328 sources and ballads to the CBDB.
    <br>
    <br>
    <B>Update #33, November 24, 2007</B><br>
    Added & updated 239 sources and ballads to the CBDB.
    <br>
    <br>
    <B>Update #32, November 11, 2007</B><br>
    Added & updated 176 sources and ballads to the CBDB.
    <br>
    <br>
    <B>Update #31, October 28, 2007</B><br>
    Added & updated 79 sources and ballads to the CBDB.
    <br>
    <br>
    <B>Update #30, October 14, 2007</B><br>
    Added & updated 247 sources and ballads to the CBDB.
    <br>
    <br>
    <B>Update #29, September 21, 2007</B><br>
    Added & updated 214 sources and ballads to the CBDB.
    <br>
    <br>
    <B>Update #28, August 25, 2007</B><br>
    Added & updated 142 sources and ballads to the CBDB.
    <br>
    <br>
    <B>Update #27, August 5, 2007</B><br>
    Added & updated 188 sources and ballads to the CBDB.
    <br>
    <br>
    <B>Update #26, July 4, 2007</B><br>
    Added & updated 177 sources and ballads to the CBDB.
    <br>
    <br>
    <B>Update #25, June 20, 2007</B><br>
    Added & updated 123 sources and ballads to the CBDB.
    <br>
    <br>
    <B>Update #24, June 9, 2007</B><br>
    Added & updated 90 sources and ballads to the CBDB.
    <br>
    <br>
    <B>Update #23, June 6, 2007</B><br>
    Added & updated 55 sources and ballads to the CBDB.
    <br>
    <br>
    <B>Update #22, May 30, 2007</B><br>
    Major update: Added & updated 850 sources and ballads to the CBDB, mainly field recordings.<br>
    The CBDB holds now over 11.500 recorded Child Ballads!
    <br>
    <br>
    <B>Update #21, May 20, 2007</B><br>
    Added & updated 115 sources and ballads to the CBDB
    <br>
    <br>
    <B>Update #20, May 10, 2007</B><br>
    Added & updated 32 sources and ballads to the CBDB
    <br>
    <br>
    <B>Update #19, May 8, 2007</B><br>
    Added & updated 76 sources and ballads to the CBDB
    <br>
    <br>
    <B>Update #18, April 29, 2007</B><br>
    A new CBDB is available for download now! Click the Services button to download your copy.<br>
    Added 17 ballads to the CBDB.
    <br>
    <br>
    <B>Update #17, April 25, 2007</B><br>
    Added & updated 139 sources and ballads to the CBDB
    <br>
    <br>
    <B>Update #16, January 13, 2007</B><br>
    Added & updated 382 sources and ballads to the CBDB
    <br>
    <br>
    <B>Update #15, November 12, 2006</B><br>
    Major update; over 1000 sources and ballads added to the CBDB.<br>
    There are now over 10.000 recorded Child ballads known!
    <br>
    <br>
    <B>Update #14, September 3, 2006</B><br>
    Added & updated 218 sources and ballads to the CBDB
    <br>
    <br>
    <B>Update #13, August 8, 2006</B><br>
    Added & updated 63 sources and 95 ballads to the CBDB
    <br>
    <br>
    <B>Update #12, July 21, 2006</B><br>
    Added & updated 53 sources and 114 ballads to the CBDB
    <br>
    <br>
    <B>Update #11, June 26, 2006</B><br>
    Added & updated 30 sources and 80 ballads to the CBDB
    <br>
    <br>
    <B>Update #10, May 24, 2006</B><br>
    Added & updated 19 sources and 33 ballads to the CBDB
    <br>
    <br>
    <B>Update #9, April 30, 2006</B><br>
    Added & updated 93 sources and 189 ballads to the CBDB
    <br>
    <br>
    <B>Update #8, March 25, 2006</B><br>
    Added & updated 54 sources and 119 ballads to the CBDB
    <br>
    <br>
    <B>Update #7, March 12, 2006</B><br>
    Added & updated 11 sources and 157 ballads to the CBDB
    <br>
    <br>
    <B>Update #6, March 8, 2006</B><br>
    Added & updated 80 sources and 173 ballads to the CBDB
    <br>
    <br>
    <B>Update #5, February 4, 2006</B><br>
    Added & updated 117 sources and 196 ballads to the CBDB
    <br>
    <br>
    <B>Update #4, January 18, 2006</B><br>
    Adding 68 sources and 155 ballads to the CBDB
    <br>
    <br>
    <B>Major update #3, January 1, 2006</B><br>
    Adding 450+ sources and 900+ ballads to the CBDB
    <br>
    <br>
    <B>Major update #2, December 10, 2005</B><br>
    Release of stand-alone version CBDB
    <br>
    <br>
    <B>Major update #1, December 7, 2005</B><br>
    Adding lots of sources and ballads
    <br>
    <br>
    <B>Launching website, November 27, 2005</B><br>
    Website as a spin-off of the CBDB; only the basic data are used
    <br>
    <br>
    <B>Start CBDB project, March, 2005</B><br>
    Division of tasks, collecting sources and ballads, planning and testing of database architecture
    <br>
    <br>
  </div>