<div class="hero-cont">
  <%= image_tag "cb-hero.jpg", :class => "hero-img" %>
  <p>Mallord, Joseph, William Turner, and George Clint. <i>Peat Bog, Scotland</i>. 1812.</p>
</div>

<div class="intro-text">
  <h1>Child Ballad Database</h1>

  <div class="div-line"></div>

  

  <p>The Child Ballads are a collection of 305 traditional ballads that originated in England and Scotland, but spread to North America, Ireland, and other parts of the English speaking world. The name comes from the man who researched and catalogued them, Francis James Child (1825-1896), an American scholar and folklorist.</p> 
  
  <div class="img-cont">
    <%= image_tag "child.jpg", :class => "text-img" %>
    <p>Francis James Child</p>
  </div>

  <p>His collection was published as <i>The English and Scottish Popular Ballads</i>. The topics range from supernatural experiences, romance, riddles, and ribald humor to feuds, murder, rape, incest, and historical tragedies.</p>

  <p>Over the years, but especially during the 60's folk revival, many musicians rediscovered the beauty and poetry of these ballads. This database is an attempt to list and provide information about as many recordings as possible, for those who are interested. For copyright reasons we cannot host the actual songs, but this can be a resource for finding them on other platforms. </p>

  <p>The Child Ballad Database was originally built by Audie OFyle (database architecture) from the USA and Halewijn (data compilation) from the Netherlands. It is currently managed by me, Dan Nedrud, also from the USA. It presently stands at over 20,000 entries.</p>

  <p>We hope you find it useful as you explore this incredible slice of music and history.</p>

  <a class="btn btn-primary begin-button" href="/all">Begin Browsing</a>

  <br />
</div>
