  <div class="intro-text">
    <h1>Useful resources and recommended websites</h1>
    
    <div class="div-line"></div>

    <ul class="links">

    <h2 class="link-section">Online Texts</h2>

      <%= image_tag "mandolin.png", :class => "list-img" %><li>All texts of <A HREF="https://www.sacred-texts.com/neu/eng/child/" target="_blank">  'The English And Scottish Popular Ballads' by Francis James Child</A> - As part of The Internet Sacred Text Archive</li>

      <%= image_tag "mandolin.png", :class => "list-img" %><li><A HREF="https://web.archive.org/web/20140703023916/http://oasis.lib.harvard.edu/oasis/deliver/~hou01700" target="_blank"> Lists of Child's research materials</A> - Correspondence and other archived papers from Harvard University's Houghton Library</li>
    
    <h2 class="link-section">Published Books</h2>    

      <%= image_tag "mandolin.png", :class => "list-img" %><li><A HREF="https://loomishousepress.com/child.html" target="_blank">The English and Scottish Popular Ballads</A> - Paperback edition available from Loomis House Press</li>

    <h2 class="link-section">General Folk Music</h2>

      <%= image_tag "mandolin.png", :class => "list-img" %><li><A HREF="https://www.csufresno.edu/folklore/BalladIndexTOC.html" target="_blank">The Traditional Ballad Index</A> - An Annotated Bibliography of the Folk Songs of the English-Speaking World</li>
      
      <%= image_tag "mandolin.png", :class => "list-img" %><li>Reinhard Zierke's <A HREF="https://www.mainlynorfolk.info/folk/" target="_blank"> Mainly Norfolk: English Folk and Other Good Music</A> - Terrific site with lots of info on singers and musicians</li>
      
      <%= image_tag "mandolin.png", :class => "list-img" %><li><A HREF="https://www.vwml.org/" target="_blank">The Vaughan Williams Memorial Library</A> - This is the library and archive of the English Folk Dance and Song Society including The Roud Folk Song Index</li>
      
      <%= image_tag "mandolin.png", :class => "list-img" %><li>Rod Stradling's <A HREF="https://www.mustrad.org.uk/discos/tradisco.htm" target="_blank">A Discography of Recorded Traditional Music</A> - A 'Complete Traditional Music Discography'</li>
      
      <%= image_tag "mandolin.png", :class => "list-img" %><li>Jane Keefer's <A HREF="https://www.ibiblio.org/folkindex/index.htm" target="_blank">Folk Music Index</A> - An Index to Recorded Resources</li>      

    <h2 class="link-section">Blogs</h2>

      <%= image_tag "mandolin.png", :class => "list-img" %><li>Quentin Kean's <A HREF="https://folkcatalogue.wordpress.com/" target="_blank"> Folkcatalogue's Blog</A> - Wonderful blog about Argo Records</li>
    
      <%= image_tag "mandolin.png", :class => "list-img" %><li>Dan Nedrud's <A HREF="https://childballads.home.blog/archive/" target="_blank"> Best of the Child Ballads</A> - A blog written by me, the current manager of this site</li>
    
    </ul>

    <br />

  </div>