<p id="notice"><%= notice %></p>

<h1>Notifications</h1>

<%= link_to "Add Notification", new_notification_path, class: "btn btn-primary file-button" %>

<br>
<br>

<% @notifications.each do |notification| %>
  <p>
  <%= link_to notification.text, notification_path(notification) %> 
  <% if notification.expires_on %>
   - <%= notification.expires_on.strftime("%-m/%-d/%Y: %H:%M %Z") %> 
  <% end %>
  </p>
<% end %>
