<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @notification.text %>
</p>

<p>
  <strong>Expires on:</strong>
  <%= @notification.expires_on %>
</p>

<%= link_to 'Back', notifications_path %> |
<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Delete', notification_path(@notification), method: :delete, data: { confirm: "Are you sure?" } %>
