<%= hidden_field_tag :direction, params[:direction] %> 
<%= hidden_field_tag :sort, params[:sort] %> 
<table class="pretty table">
  <tr>
    <th><%= sortable "Number", "ballad_id" %></th>
    <th><%= sortable "Artist", "artist" %></th>
    <th><%= sortable "Title", "title" %></th>
    <th><%= sortable "Source", "source" %></th>
    <th><%= sortable "Release Year", "release_year" %></th>
    <th><%= sortable "Length", "length" %></th>
  </tr>
  <% for song in @songs %>
    <tr>
      <td><%= song.ballad_id%></td>
      <td><%= song.artist%></td>
      <td><%= link_to song.title, ballad_path(:id => song.id) %> </td>
      <td><%= song.source%></td>
      <td><%= song.release_year%></td>
      <% if song.length.to_s.length >= 2 %>
        <td><%= song.length.to_s.insert(-3, ':')%></td>
      <% else %>
        <td><%= song.length%></td>
      <% end %>
    </tr>
  <% end %>
</table>
<%= will_paginate @songs %>