<h1><%= @ballad.name %></h1>
  <br>
<% @songs.each do |song| %>
  <p>
  <%= song.ballad_id %>: 
  <%= link_to song.title, ballad_path(song) %> 
  <br>
  <%= song.artist %>
  <%= song.release_year %>
  </p>
<% end %>