<h1>Child Ballads</h1>

<%= link_to "Add Recording", new_ballad_path, class: "btn btn-primary file-button" %>

<br>
<br>

<% @ballads.each do |ballad| %>
  <p>
  <%= ballad.number %>: 
  <%= link_to ballad.name, admin_ballad_data_path(:id => ballad.number) %> 
  </p>
<% end %>