<h1>All Child Ballad Renditions</h1>

<div class="table-responsive backend">

<%= form_tag admin_songs_data_path, :method => 'get', :id => "songs_search" do %>
  <p>
    <%= link_to "Add Recording", new_ballad_path, class: "btn btn-primary file-button" %>
    <%= text_field_tag :search, params[:search], :class => "all-search form-control", :placeholder => "search" %>
  </p>
  
  <div id="songs"><%= render 'songs' %></div>

<% end %>

</div>