<div class="intro-text">
    <h1>Data Analysis</h1>
    
    <div class="div-line"></div>

    <%= link_to "Popularity", data_popularity_path, class: "btn btn-primary begin-button" %>
    <%= link_to "Timeline", data_timeline_path, class: "btn btn-primary begin-button" %>
</div>