<%# Fix for javascript loading twice when turbolinks is on  %> 
<% content_for(:body_attributes) do %>
  data-turbolinks="false"
<% end %>

<%= link_to "Back", data_path, class: "btn btn-primary back-button" %>

<h1>Popularity</h1>

<div class="div-line"></div>

<div id="my_dataviz"></div>

<script type="text/javascript">
// set the dimensions and margins of the graph
var margin = {top: 70, right: 30, bottom: 100, left: 325},
    width = ($('.front-main').width()*.9) - margin.left - margin.right,
    height = 6000 - margin.top - margin.bottom;

// append the svg object to the body of the page
var svg = d3.select("#my_dataviz")
  .append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", `translate(${margin.left},${margin.top})`);


var loadData = function(){
  $.ajax({
    type: 'GET',
    contentType: 'application/json; charset=utf-8',
    url: '/data/popularity',
    dataType: 'json',
    success: function(data){
      drawChart(data);
    },
    failure: function(result){
      console.log(result)
    }
  });
};

// Parse the Data
function drawChart(data) {
  // X axis
  var x = d3.scaleLinear()
    .domain([0, Math.max.apply(Math, data.map(function(d) { return d.ballad_count; }))])
    .range([ 0, width]);
  svg.append("g")
    .call(d3.axisTop(x))
    .selectAll("text")
      .attr("transform", "translate(10,0)rotate(-45)")
      .style("text-anchor", "start");  

  // ----------------
  // Create a tooltip
  // ----------------
  var tooltip = d3.select("#my_dataviz")
    .append("div")
    .style("opacity", 0)
    .attr("class", "tooltip")
    .style("background-color", "white")
    .style("border", "solid")
    .style("border-width", "1px")
    .style("border-radius", "5px")
    .style("padding", "10px")
    .style("position", "fixed")

  // Three function that change the tooltip when user hover / move / leave a cell
  var mouseover = function(event, d) {
    var count = d.ballad_count;
    tooltip
        .html("Count: " + count)
        .style("opacity", 1)
        
  }
  var mousemove = function(event, d) {
    tooltip.style("left",(event.x)+20+"px")
           .style("top",(event.y)+"px")
  }
  var mouseleave = function(event, d) {
    tooltip
      .style("opacity", 0)
  }
  // ----------------

  // Add Y axis
  var y = d3.scaleBand()
    .range([ 0, height ])
    .domain(data.map(d => d.number+' - '+d.name))
    .padding(.1);
  svg.append("g")
    .call(d3.axisLeft(y))
    .selectAll("text")
      .data(data)
      .on("mouseover", mouseover)
      .on("mousemove", mousemove)
      .on("mouseleave", mouseleave)

  svg.selectAll("myRect")
    .data(data)
    .join("rect")
      .attr("x", x(0) )
      .attr("y", d => y(d.number+' - '+d.name))
      .attr("width", d => 0)
      .attr("height", y.bandwidth())
      .attr("fill", "#5a618a")
    .on("mouseover", mouseover)
    .on("mousemove", mousemove)
    .on("mouseleave", mouseleave)

  // Add X axis label:
  svg.append("text")
      .attr("text-anchor", "start")
      .attr("x", width/2-40)
      .attr("y", -50)
      .attr("font-size", "12px")
      .style("fill", "#333333")
      .text("Recording Count");

  // Animation
  svg.selectAll("rect")
    .transition()
    .duration(800)
    .attr("width", function(d) { return x(d.ballad_count); })
    .delay(function(d,i){return(i*10)})

}

loadData(); 

</script>