<h2>Export Songs</h2>

<p>
  Download:
  <%= link_to "CSV", ballads_path(format: "csv") %> |
  <%= link_to "Excel", ballads_path(format: "xlsx") %>
</p>

<h2>Import Songs</h2>

<p>A CSV or Excel file can be used to import records. The first row should be the column name. The following columns are allowed.</p>

<ul>
  <% Song.columns.each do |column| %>
    <% if column.name.in? ["id", "ballad_id", "artist", "title", "source", "release_year", "length", "have"] %>
      <li>
        <strong><%= column.name %></strong> -
        <%= column.type.to_s.titleize %> type
      </li>
    <% end %>
  <% end %>
</ul>

<p>If an <strong>id</strong> is supplied it will update the matching record instead of creating a new one.</p>

<%= form_for @ballad_import do |f| %>
  <% if !@ballad_import.success_count.nil? && !@ballad_import.success_count.zero? %>
    <div id="upload_success_message">
      <h2><%= pluralize(@ballad_import.success_count, "row") %> were uploaded successfully</h2>
    </div>
  <% end %>

  <% if @ballad_import.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ballad_import.errors.count, "error") %> prohibited this import from completing:</h2>
      <ul>
      <% @ballad_import.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.file_field :file, class: "file-upload" %>
  </div>
  <div class="buttons"><%= f.submit "Import", class: "btn btn-primary file-button" %></div>
<% end %>