@import "bootstrap-sprockets";
@import "bootstrap";
@import "jquery.mCustomScrollbar";

html, body {
    margin:0;
    padding:0;
    height:100%;
}

.main-container {
    padding: 10px 50px;
}

.boot-input {
    width:auto;
}

.form-upload input {
    width: auto;
    border: none;
}

.result-control.text {
    margin-top: 50px;
    padding-left: 120px;
}

#quote {
    margin-bottom: 20px;
}

.quote.smaller {
    font-size: 45px;
    text-align: center;
    margin-bottom: 20px;
}

.quote.smaller.results {
    margin-bottom: 20px;
}

.poster-placeholder {
    width: 300px;
    height: 455px;
    background-color: #e6e6e6;
}

.poster {
    box-shadow: 5px 5px 5px #b3b3b3;
}

.poster-icon {
    display: block;
    margin: auto;
    padding-top: 160px;
    opacity: .7;
}

#message-share a {
    margin: 5px;
}

#message-share a:hover {
    text-decoration: none;
}

.social-icon {
    opacity:.7;
}

.btn.btn-default.begin {
    width: 120px;
    margin: 30px auto;
}

.btn.btn-default.results {
    float: left;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.tag-seperator {
    float: left;
    margin-right: 30px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input.file-upload {
  border: none;
}

input.file-button {
    width: auto;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

#upload_success_message {
    color: green; 
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.radio-cont label {
    font-weight: normal;
}

.navbar {
    border-radius: 0px;
}

.navbar .container-fluid {
    max-width: 1061px;
    padding: 0px;
}

.navbar-nav {
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
}

.all-search {
    display: block;
    width: 300px;
    float: right;
}

.all-filter {
    display: block;
    width: 50%;
    float: left;
}

a.btn.back-button {
    float: right;
    margin-top: 20px;
 }

 div.site-notification {
    color: #f2f3f7;
    background-color: #71789f;
    display: inline-block;
    padding: 4px 15px 3px 15px;
    border-radius: 20px;
    margin-top: 13px;
    font-size: 12px;
    cursor: default;
 }