// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-color: #6d5846;

.navbar-frontend {
  background-color: $primary-color;
}

.div-line {
  border-bottom: 5px solid $primary-color;
  width: 100%;
  margin: 20px 0px 30px 0px;
}

.navbar-frontend a {
  color: #fff;
  opacity: .8;
}

.navbar-frontend a:hover, .navbar-frontend a:focus {
  outline:0;
  opacity: 1;
  background-color: $primary-color !important;
}

.hero-img {
  display: block;
  margin: auto;
  width: 100%;
}

.text-img {
  width: 140px;
  padding: 5px;
  border: 1px solid $primary-color;
  margin-bottom: 10px;
}

.img-cont {
  display: block;
  float: right;
  width: 150px;
  margin: 10px 0px 10px 10px;
  text-align: center;
  font-size: 10px;
  opacity: .7;
}

.hero-cont p {
  padding-top: 5px;
  padding-right: 20px;
  text-align: right;
  font-size: 10px;
  opacity: .7;
}

.front-main {
  min-height:100%;
  position:relative;
  max-width: 1061px;
  display: block;
  margin: auto;
  padding-bottom: 100px;
}

.intro-text {
  padding: 0px 150px;
}

.intro-text.centered {
  text-align: center;
}

.intro-text.centered h1 {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans Condensed', sans-serif;
}

h1 {
  font-size: 50px;
}

.pretty th .current {
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 15px 15px;
}

.pretty th .asc {
  background-image: image-url("arrow-down.png");
}

.pretty th .desc {
  background-image: image-url("arrow-up.png");
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
    background-color: #5a618a;
    border-color: #5a618a;
}

.pagination > li > a, .pagination > li > span {
    color: #5a618a;
}

.front-main a {
    color: #5a618a;
}

.front-main th p {
    color: #5a618a;
}

.front-main a:hover, .front-main a:focus {
    color: #3c415d;
}

.front-main .ballads {
  width: 400px;
  height: 500px;
  display: inline-block;
  float:left;
  margin-bottom: 40px;
}

.b-number, .b-name {
  float: left;
}

.b-number p, .b-name p {
  display: block;
  height: 40px;
}

.b-number {
  text-align: right;
  padding-right: 20px;
  font-size: 22px;
  width: 70px;
  font-family: 'Noto Serif', serif;
}

.b-name {
  padding-left: 20px;
  border-left: 1px solid #ddd;
  width: 300px;
}

.b-name p {
  padding-top: 10px;
}

.b-name p a {
    padding: 2px 8px;
    text-decoration: none;
}

.b-name p a:hover {
    color: #fff;
    background-color: #848aae;
}

.b-name p a.selected {
    color: #fff;
    background-color: #656d9a;
}

.ballad-songs {
  width: 50%;
  float:left;
  min-width: 200px;
  margin-left: 40px;
}

.form-control.all-search {
  margin-right: 5px;
}

.form-control.all-search:focus {
    border-color: #9399b8;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #9399b8;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #9399b8;
}

.footer.bottom {
  position:absolute;
  bottom:0;
  width: 100%;
  background-color: #6d5846;
  height: 100px;
  padding: 0px 7px;
}

.footer.bottom p a {
  color: #fff;
  opacity: .8;
  display: block;
  font-size: 12px;
}

.footer.bottom p a:hover {
  text-decoration: none;
  opacity: 1;
}

.footer.bottom p {
  display: block;
  text-align: center;
  margin: 10px 0px 0px 0px;
}

.footer.bottom p.top {
  margin-top: 22px;
}

.bottom .div-line {
  border-bottom: 5px solid #b9a492;
  margin: -12px 0px 0px 0px;
}

.intro-text.tall {
  height: 100%;
}

.slight-padding {
  padding: 0px 10px;
}

.links li {
  margin-bottom: 30px;
  font-size: 15px;
}

ul.links {
  list-style-type: none;
  padding: 0px;
}

ul.links .list-img {
  height: 30px;
  float: left;
  margin-right: 10px;
}

.youtube-img {
  height: 20px;
  opacity: .7;
}

.youtube-img:hover {
  opacity: .9;
}

.front-main .btn-primary {
  color: #fff;
  background-color: #5a618a;
  border-color: #454b6e;
}

.front-main .btn-primary:hover {
  color: #fff;
  background-color: #454b6e;
}

.begin-button {
  display: block;
  margin: 20px auto;
  width: 128px;
}

.link-section {
  text-align: center;
}

@media screen and (min-width: 1015px) {
  .ballad-songs {
    width: 55%;
  }
}

@media screen and (max-width: 915px) {
  .front-main .ballads {
    width: 100%;
  }
  .ballad-songs {
    width: 100%;
    margin: 0px;
  }
}