<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Update Song</h1>
    <%= link_to "Cancel", ballad_path(@song) %>
    <br>
    <br>
    <%= form_for @song, url: ballad_path(@song), html: { method: :put } do |f| %>
      <%= render 'shared/error_messages', object: @song %>

      <%= f.label :ballad_id %>
      <%= f.number_field :ballad_id, class: 'form-control' %>
      
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
      
      <%= f.label :artist %>
      <%= f.text_field :artist, class: 'form-control' %>
      
      <%= f.label :source %>
      <%= f.text_field :source, class: 'form-control' %>

      <%= f.label :release_year %>
      <%= f.text_field :release_year, class: 'form-control' %>
      
      <%= f.label :length %>
      <%= f.text_field :length, class: 'form-control' %>
      
      <%= f.label :have %>
      <div class="radio-cont">
        <%= label :have, "No", value: false %>
        <%= f.radio_button :have, false, :value => false, :class => "file-button" %>
        <%= label :have, "Yes", value: true %>
        <%= f.radio_button :have, true, :value => true, :class => "file-button" %>
      </div>

      <br>
      
      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
