<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">id</Data></Cell>
        <Cell><Data ss:Type="String">ballad_id</Data></Cell>
        <Cell><Data ss:Type="String">artist</Data></Cell>
        <Cell><Data ss:Type="String">title</Data></Cell>
        <Cell><Data ss:Type="String">source</Data></Cell>
        <Cell><Data ss:Type="String">release_Year</Data></Cell>
        <Cell><Data ss:Type="String">length</Data></Cell>
        <Cell><Data ss:Type="String">have</Data></Cell>
      </Row>
    <% @songs.each do |song| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= song.id %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= song.ballad_id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= song.artist %></Data></Cell>
        <Cell><Data ss:Type="String"><%= song.title %></Data></Cell>
        <Cell><Data ss:Type="String"><%= song.source %></Data></Cell>
        <Cell><Data ss:Type="String"><%= song.release_year %></Data></Cell>
        <Cell><Data ss:Type="String"><%= song.length %></Data></Cell>
        <Cell><Data ss:Type="String"><%= song.have %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>