<h1><%= @song.ballad_id %>: <%= @song.title %></h1>
<h3>Artist: <%= @song.artist %></h3>
<p>Source: <%= @song.source %></p>
<p>Release Year: <%= @song.release_year %></p>
<p>Length: <%= @song.length %></p>
<p>Have: <%= @song.have %></p>

<%= link_to "Back", admin_songs_data_path %> | <%= link_to "Edit", edit_ballad_path(@song) %> | <%= link_to "Delete", ballad_path(@song), method: :delete, data: { confirm: "Are you sure?" } %>
