<nav class="navbar navbar-frontend">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> -->
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Recordings", all_path %></li>
      </ul>

      <% @notifications.each do |notification| %>
        <div class="site-notification"><%= notification.text %></div>
      <% end %>
      
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Data", data_path %></li>
        <li><%= link_to "Resources", links_path %></li>
      </ul>
    <!-- </div> --><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>