<% if user_signed_in? %>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Collect the nav links, forms, and other content for toggling -->
      <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> -->
        <ul class="nav navbar-nav">
          <li><%= link_to "Home", admin_path %></li>
          <li><%= link_to "Child Ballads", admin_music_data_path %></li>
          <li><%= link_to "All Songs", admin_songs_data_path %></li>
          <li><%= link_to "Bulk Data Tools", new_ballad_import_path %></li>
          <li><%= link_to "Notifications", notifications_path %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
        </ul>
      <!-- </div> --><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
<% end %>