<!DOCTYPE html>
<html>
<head>
  <title>CBDB</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Open+Sans+Condensed:300|Noto+Serif" rel="stylesheet">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-52EEHVNN58"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-52EEHVNN58');
  </script>
</head>
<body 
  <% if content_for?(:body_attributes) %>
    <%= yield(:body_attributes) %> 
  <% end %>>

<%= render 'layouts/navbar' unless @disable_nav %>

<%= render 'layouts/navbarfront', notifications: @notifications if @disable_nav %>

<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<% if @disable_nav %>
  <div class="front-main">
    <%= yield %>
    <%= render 'layouts/footer' %>
  </div>
<% else %>
  <div class="main-container">
    <%= yield %>
  </div>
<% end %>

</body>
</html>